body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}

h1 {
  margin-bottom: 20px;
}

/* Style the input field */
input[type="text"] {
  width: 250px;
  padding: 10px;
  font-size: 16px;
  text-align: center;
  margin-bottom: 30px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.lcd-numbers {
  display: grid;
  grid-template-rows: repeat(3, 50px);
  grid-gap: 5px; /* Reduce grid gap to bring numbers closer */
  justify-items: center;
  align-items: center;
  width: 250px; /* Adjust width to fit numbers more closely */
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 auto;
  padding: 10px;
}

.lcd-numbers {
  margin: 0;
  font-size: 24px;
  white-space: nowrap;
  text-align: center;
  width: 100%;
  line-height: 50px;
  min-height: 50px;
}

.group {
  display: inline-block;
  margin-right: 3px; /* Reduce the margin to bring numbers closer */
  padding: 5px;
  margin-bottom: 2px;
  width: 15px;
}
